<div class="container center-form flex items-center max-width-4 justify-center">
  <div class="row">
    <form class="column" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email" />
        <div *ngIf="submitted && f.email.errors">
          <span *ngIf="submitted && f.email.errors.required"
            >Email is required</span
          >
          <span *ngIf="submitted && f.email.errors.email"
            >Email is invalid</span
          >
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
        <div *ngIf="submitted && f.password.errors">
          <span *ngIf="submitted && f.password.errors.required"
            >Password is required</span
          >
        </div>
      </div>
      <div class="flex items-center m0">
        <button [disabled]="loading" class="m0">Login</button>
        <a routerLink="../register" class="pl1">Register</a>
      </div>
    </form>
  </div>
</div>
