<div class="menu flex items-center" *ngIf="isLogged">
  <div class="container flex items-center">
    <div class="row">
      <div class="column">
        Name: {{ name }} <span class="line">|</span>
        <a
          (click)="logout()"
          class="px1"
          style="cursor: pointer; text-decoration: underline"
          >Logout</a
        >
      </div>
      <div class="column" *ngIf="isAdmin">
        <a routerLink="../" class="px1">Home</a>
        <span class="line">|</span>
        <a routerLink="../users" class="px1">Users</a>
        <span class="line">|</span>
        <a routerLink="../sedes" class="px1">Sedes</a>
        <span class="line">|</span>
        <a routerLink="../cities" class="px1">Cities</a>
      </div>
    </div>
  </div>
</div>
