/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.center-form {
  min-height: 600px;
}

.footer {
  height: 10px;
  bottom: 0;
  clear: both;
  left: 0;
  right: 0;
  position: relative;
  background-color: #9b4dca;
}

.app-container {
  margin: 0 auto;
  /* max-width: 112.0rem; */
  padding: 0 2rem;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
}

a {
  cursor: pointer;
  user-select: none;
}

@keyframes loading {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  50% {
    background: rgba(0, 0, 0, 0.35);
  }
  100% {
    background: rgba(0, 0, 0, 0.4);
  }
}
